.loader {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 20px solid #56e39f;
  border-top: 20px solid #e0ff4f;
  animation: spin 2s ease-in infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
