* {
  margin: 0;
  padding: 0;
}
body {
  background-color: cadetblue;
}
@media screen and (max-width: 800px) {
  body {
    background-color: red;
  }
}
@media screen and (max-width: 600px) {
  body {
    background-color: yellow;
  }
}
header {
  display: flex;
  justify-content: center;
  height: 150px;
  margin: 0px auto 22px;
}
.form {
  background: white;
  width: 55vw;
  margin: 0px auto;
}

.nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav h1 {
  font-size: 50px;
}
.nav p {
  margin: 11px auto;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 54vw;
  margin: 0 auto;
  min-height: calc(100vh - 150px - 15vh);
}
.section1 {
  margin: 25px 95px;
  font-size: 18px;
}
.section1 h3 {
  position: relative;
  left: 20px;
}
section {
  text-align: center;
}
.section2 {
  display: inline-block;
  margin: 0px 62px;
}
.section2 input {
  height: 40px;
  width: 250px;
  border-radius: 7px;
  border: 2px solid;
}
.section3 {
  display: inline-block;
  margin: 0px -58px;
}
.section3 input {
  height: 40px;
  width: 250px;
  border-radius: 7px;
  border: 2px solid;
}
.section4 {
  display: inline-block;
  margin: 0px 51px;
  padding: 10px;
}
.section4 input {
  height: 40px;
  width: 250px;
  border-radius: 7px;
  border: 2px solid;
}
.name1 {
  text-align: left;
  margin: 15px 92px;
  position: relative;
  left: 19px;
}
.name2 {
  position: relative;
  bottom: 33px;
  right: 72px;
}
.name3 {
  text-align: center;
  position: relative;
  bottom: 52px;
  left: 181px;
}
.gender h3 {
  text-align: left;
  position: relative;
  left: 115px;
  bottom: 16px;
}
.box1 {
  display: flex;
  position: relative;
  left: 110px;
  bottom: -20px;
}
.box1 select {
  height: 44px;
  width: 350px;
  border-radius: 7px;
  background-color: white;
  border: 2px solid;
}
.Email h3 {
  text-align: center;
  position: relative;
  bottom: 83px;
  left: 121px;
}
.box2 input {
  position: relative;
  bottom: 47px;
  right: -213px;
  height: 40px;
  width: 350px;
  border-radius: 7px;
  background-color: white;
  border: 2px solid;
}
.ID h3 {
  text-align: left;
  position: relative;
  bottom: 2px;
  left: 115px;
}
.box3 input {
  position: relative;
  bottom: -33px;
  left: 109px;
  display: flex;
  height: 40px;
  width: 347px;
  border-radius: 7px;
  border: 2px solid;
}
.List h3 {
  text-align: center;
  position: relative;
  bottom: 69px;
  left: 114px;
}
.box4 select {
  position: relative;
  bottom: 34px;
  left: 213px;
  height: 44px;
  width: 355px;
  border-radius: 7px;
  background-color: white;
  border: 2px solid;
}

.submit {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.submit input {
  height: 48px;
  width: 180px;
  background-color: #87e9e4;
  font-family: inherit;
  font-size: 22px;
  border-radius: 7px;
  border: 2px solid;
}
