* {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI,
    Roboto, Helvetica Neue, sans-serif;
}

.page-container {
  position: relative;
}

.hidden-background .page-main {
  background-color: #f5f5f5;
}

.hidden-background .page-main {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hidden-background .page-main {
  background-color: white;
}

.page-main {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-main {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.page-main {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  /* -webkit-justify-content: space-between; */
  -ms-flex-pack: justify;
  /* justify-content: space-between; */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 0;
  background-color: #f5f5f5;
}

.page-main .page-content {
  margin-left: 10vw;
  margin-right: 10vw;
}

.page-main .page-content {
  width: 100%;
}
.page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
  max-width: 29.75rem;
  width: 95%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  border-radius: 12px;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.login-card {
  padding: 1.3125rem 1.3125rem 0;
}
.login-card {
  padding: 2.5rem 2.5rem 0;
}
.login-card,
.login-footer,
.recaptcha-branding {
  display: block;
}

.login-card .login-card__header {
  margin-bottom: 0.375rem;
  margin-top: 0.375rem;
}

h1 {
  font-size: 26px;
  line-height: 1;
}

.login-card .login-card__header .login-card__logo {
  margin: 0;
  width: 100%;
  text-align: center;
}

a {
  cursor: pointer;
  text-decoration: none;
  touch-action: manipulation;
  color: inherit;
}

.login-card .login-card__header .login-card__logo img {
  max-height: 100px;
  max-width: 200px;
  display: inline-block;
}

.headings-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.login-card__content .main-card-section > .headings-container .ui-heading,
.login-card__content
  .main-card-section__header
  > .headings-container
  .ui-heading,
.login-card__content .main-card-section > .ui-heading,
.login-card__content .main-card-section__header > .ui-heading {
  margin-bottom: 0.5625rem;
  font-size: 1.5rem;
  line-height: 1.2em;
}

.ui-subheading--subdued {
  color: rgb(109, 113, 117);
  font-weight: 400;
  margin: 0;
  line-height: 1.5rem;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 1.3125rem;
  font-size: 0.875rem;
}

form .input-field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

form .input-field input {
  width: 92%;
  height: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 0.95rem;
  border-radius: 3px;
  border: 1px solid #717171;
}

.input-field input:is(:focus, :valid) {
  padding: 3px 15px 0;
  border-color: #00bcd4;
}

form .input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  color: #717171;
  pointer-events: none;
  transform: translateY(-50%);
  transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ label {
  color: #00bcd4;
  font-size: 0.75rem;
  transform: translateY(-120%);
}

:where(.forgot-pass, .policy-text) {
  display: inline-flex;
  font-size: 0.95rem;
  margin-top: 14px;
}

form button {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 14px 0;
  border-radius: 3px;
  margin: 25px 0;
  color: #fff;
  cursor: pointer;
  background-color: #00bcd4;
}

form button:hover {
  background: #0097a7;
}

.login-footer {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 1.0625rem 1.3125rem 1.3125rem;
  text-align: center;
}

a {
  color: var(--p-interactive, #00bcd4);
  cursor: pointer;
  touch-action: manipulation;
}

a:hover {
  text-decoration: underline;
}

.signup {
  display: none;
}

.signup .policy-text {
  display: flex;
  align-items: center;
}

.policy-text input {
  width: 14px;
  height: 14px;
  margin-right: 7px;
}
