* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: Manrope;
  font-size: 14px;
  line-height: 1.5;
  color: #5b5b5b;
  font-weight: 400;
  width: 100%;
  font: 400 14px/1.75 sans-serif;
  color: #000;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* header */
header {
  height: 93px;
  width: 100%;
  /* background-color: red; */
  box-shadow: inset 0 0 0 1px #eaeaea;
}

.nav-container {
  height: 100%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-logo {
  height: 100%;
  width: 318px;
  /* background-color: blue; */
  margin-left: 10px;
}

.nav-logo img {
  height: 83px;
  width: 100px;
  margin: 5px 0 5px;
}

.navigation-bar {
  height: 70px;
  width: 1240px;
  /* background-color: aqua; */
  padding-left: 15px;
  padding-right: 15px;
}

.nav-bar {
  height: 70px;
  width: 1240px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  position: relative;
  /* background-color: blue; */
}

.menu {
  height: 70px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

#item-1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lh {
  color: #333;
}

#item-1 li {
  margin-bottom: 8px; /* Adjust spacing as needed */
}

#item-1 a {
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  color: #222;
  /* font-weight: bold; */
}

.item-1-container {
  text-align: left;
  position: absolute;
  height: 142px;
  width: 1890px;
  left: -358.375px;
  background: #fff;
  top: 100%;
  z-index: 10;
  padding: 20px 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 0 1px #eaeaea, 0 5px 20px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 0 1px #eaeaea, 0 5px 20px rgba(0, 0, 0, 0.15);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#item-1:hover .item-1-container,
.item-1-container:hover {
  opacity: 1;
}

.sub-menu {
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
  width: 970px;
  overflow-y: auto;
}

.sub-menu li {
  list-style: none;
}

.sub-menu-in {
  height: 100%;
  position: relative;
}

.sub-menu-con1 {
  height: 93px;
  width: 220px;
  position: absolute;
  left: 0%;
  top: 0px;
  padding: 10px 15px;
}

.a {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.a > a {
  font-size: 16px;
}

.sub-menu-cn {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.lh-1 {
  color: #878787;
}

.sub-menu-con2 {
  height: 93px;
  width: 220px;
  position: absolute;
  left: 25%;
  top: 0px;
  padding: 10px 15px;
}

.sub-menu-con3 {
  height: 93px;
  width: 220px;
  position: absolute;
  left: 50%;
  top: 0px;
  padding: 10px 15px;
}

.sub-menu-con4 {
  height: 93px;
  width: 220px;
  position: absolute;
  left: 75%;
  top: 0px;
  padding: 10px 15px;
}

#item-2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#item-2 li {
  margin-bottom: 8px; /* Adjust spacing as needed */
}

#item-2 a {
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  color: #222;
  /* font-weight: bold; */
}

.item-2-container {
  text-align: left;
  position: absolute;
  height: 403px;
  width: 1890px;
  left: -358.375px;
  background: #fff;
  top: 100%;
  z-index: 10;
  padding: 20px 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 0 1px #eaeaea, 0 5px 20px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 0 1px #eaeaea, 0 5px 20px rgba(0, 0, 0, 0.15);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#item-2:hover .item-2-container,
.item-2-container:hover {
  opacity: 1;
}

.sub-menu {
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
  width: 970px;
  overflow-y: auto;
}

.sub-menu li {
  list-style: none;
}

#item-3 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#item-3 li {
  margin-bottom: 8px; /* Adjust spacing as needed */
}

#item-3 a {
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  color: #222;
  /* font-weight: bold; */
}

.item-3-container {
  text-align: left;
  position: absolute;
  height: 316px;
  width: 1890px;
  left: -358.375px;
  background: #fff;
  top: 100%;
  z-index: 10;
  padding: 20px 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 0 1px #eaeaea, 0 5px 20px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 0 1px #eaeaea, 0 5px 20px rgba(0, 0, 0, 0.15);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#item-3:hover .item-3-container,
.item-3-container:hover {
  opacity: 1;
}

.sub-menu {
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
  width: 970px;
  overflow-y: auto;
}

.sub-menu li {
  list-style: none;
}

.nav-searching {
  height: 70px;
  width: 307px;
  /* background-color: beige; */
  display: flex;
  align-items: center;
}

.search-bar {
  height: 23.22px;
  width: 100%;
  /* background-color: blueviolet; */
  padding-left: 15px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* .search-img img {
  padding: 0 8px;
} */

.search {
  cursor: pointer;
  margin-right: 5px;
}

.search i {
  font-size: 18px;
  font-weight: 600;
  padding: 0 8px;
}

.user i {
  font-weight: 500;
  font-size: 20px;
  padding: 0 8px;
  color: #000;
  margin-right: 5px;
}

.heart i {
  font-weight: 500;
  font-size: 20px;
  padding: 0 8px;
  margin-right: 5px;
}

.cart i {
  font-weight: 600;
  font-size: 18px;
  padding: 0 8px;
  margin-right: 5px;
}

/* main */
.shop-section {
  height: 628px;
  width: 100%;
  /* background-color: aqua; */
}

.shop-container {
  height: 100%;
  width: 1200px;
  margin: 50px auto;
  /* background-color: red; */
}

.title-section {
  height: 40px;
  width: 100%;
  /* background-color: blue; */
}

.title {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title::before {
  content: "";
  border-bottom: 1px solid #dfdfdf;
  width: 36%;
}

span {
  margin: 0 0.8em;
  max-width: 100%;
  font-size: 28px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

.title::after {
  content: "";
  border-bottom: 1px solid #dfdfdf;
  width: 36%;
}

.mt_30 {
  height: 558.19px;
  width: 1230px;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 30px;
  /* background-color: blueviolet; */
  display: flex;
}

.cat_space_item {
  height: 532.19px;
  width: 410px;
  /* background-color: red; */
  padding-left: 15px;
  padding-right: 15px;
}

.cat_space_item img {
  height: 380px;
  width: 380px;
  margin-bottom: 26px;
}

.cat_space_item a {
  text-decoration: none;
  color: #222;
  line-height: 1.1;
  font-size: 22px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}

.rte_setting {
  padding: 2px 0px 14px 0px;
  margin-top: 7px;
}

.rte_setting p {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
}

.cat_space_item a > .button.btn {
  font-size: 14px;
}

.page2 {
  height: 100%;
  width: 100%;
  background-color: #eee;
}
/* footer */
.cn_footer {
  height: 516.84px;
  width: 100%;
  background-color: #080808;
}

#footer_top {
  height: 458.84px;
  width: 100%;
}

.footer_container {
  height: 348.84px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 30px;
}

.footer_contant {
  height: 100%;
  width: 100%;
}

.row {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  /* padding: 0 15px; */
  display: flex;
  flex-wrap: wrap;
}

.order_1 {
  padding: 0 15px;
  /* height: 222.84px; */
  margin-bottom: 50px;
}

#widget_title_bar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.widget_nav_menu {
  height: 222.84px;
  width: 170px;
}

.text_title {
  max-width: 100%;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
}

.footer_menu {
  height: 170px;
  width: 170px;
}

.menu_cn {
  height: 100%;
  width: 100%;
}

.menu_item {
  height: 30px;
  width: 170px;
  margin-bottom: 5px;
  list-style: none;
  line-height: 30px;
}

.menu_item a {
  color: #878787;
  text-decoration: none;
}

.menu_item a:hover {
  color: #ffffffcc;
  transition: 0.3s;
}

#order_5 {
  height: 106.19px;
  width: 370px;
}

.footer_text {
  height: 106.19px;
  width: 370px;
}

.footer_text p {
  color: #878787;
  margin-bottom: 1.3em;
  line-height: 24px;
}

#form_footer_top {
  height: 40px;
  width: 100%;
}

.form_fields {
  height: 100%;
  width: 100%;
}

.signup_form {
  height: 100%;
  width: 100%;
  display: flex;
}

.email {
  height: 40px;
  width: 262.56px;
}

input {
  height: 38px;
  width: 240px;
  border: 1px solid #878787;
  background-color: transparent;
  padding: 0 10px;
  color: #878787;
  outline: 0;
}

.button {
  width: 107.44px;
  height: 40px;
}

.submit_btn {
  width: 107.44px;
  height: 40px;
  background-color: #878787;
  border: none;
  padding: 0 20px;
  cursor: pointer;
}

.btn {
  font-family: " sans-serif";
  font-size: initial;
  font-weight: 600;
  margin: 0;
  color: #ffff;
}

#order_6 {
  height: 21px;
  width: 1170px;
}

.footer_social_logo {
  height: 21px;
  width: 100%;
}

.footer_contant {
  height: 100%;
  width: 100%;
}

.social_contant {
  height: 100%;
  width: 100%;
}

.social_contant a {
  height: 21px;
  width: 14.14px;
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

/* .facebook_cdn::before {
  content: "";
  position: absolute;
  background: 0 0;
  border: 6px solid transparent;
  z-index: 1000001;
  border-top-color: #996ca4;
  margin-bottom: -11px;
  left: calc(50% - 6px);
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  opacity: 0;
} */

.social_contant i {
  font-size: 16px;
  font-weight: 500;
  color: #878787;
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
}

.fa-facebook-f:hover {
  color: blue;
  transition: 0.3s;
  transform: translatey(-50%);
}

.fa-x-twitter:hover {
  color: blue;
  transition: 0.3s;
  transform: translatey(-50%);
}

.fa-instagram:hover {
  color: blue;
  transition: 0.3s;
  transform: translatey(-50%);
}

.mask_opened {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.25s, visibility;
}

.mask-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 400;
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.25s, visibility 0.25s;
}

.ntpf {
  position: fixed;
}

.t__0 {
  top: 0;
}

.b__0 {
  bottom: 0;
}

.l__0 {
  left: 0;
}

.r__0 {
  right: 0;
}
.dn {
  width: 340px;
  background-color: white;
  overflow-y: hidden;
  position: fixed;
  top: 0px;
  bottom: 0;
  width: 340px;
  background-color: #fff;
  right: 357px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  transition: 0.2s;
  transform: translate3d(104%, 0, 0);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
}

.flex {
  display: flex;
}

.h__100 {
  height: 100%;
}

.column {
  flex-direction: column;
}

.mini_cart_header {
  padding: 5px 0 5px 20px;
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
}

.al_center {
  align-items: center;
}

.fl_between {
  height: 61px;
  justify-content: space-between;
}

.widget-title {
  font-family: Playfair Display;
  font-weight: 500;
}

.tu {
  text-transform: uppercase;
}

.fs__16 {
  font-size: 16px;
}

.mg__0 {
  margin: 0;
}

.cd {
  font-weight: 600;
}

.close_pp {
  width: 50px;
  text-align: center;
  line-height: 50px;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  font-size: 30px;
  cursor: pointer;
}

.mini-card-wrap {
  display: flex;
  flex: 1 1 auto;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}

.mini_search_frm {
  padding: 30px 20px;
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
}

.pr {
  position: relative;
}

.mb__20 {
  margin-bottom: 20px;
}

select {
  padding: 0 30px 0 15px;
  max-width: 100%;
  width: 100%;
  height: 40px;
  border: 1px solid #e3e3e3;
  vertical-align: middle;
  font-size: 14px;
  transition: border-color 0.5s;
  background-position: right 10px top 50%;
  background-size: auto 18px;
  background-repeat: no-repeat;
  display: inline-block;
  background-color: transparent;
  box-shadow: none;
  color: #222;
  border-radius: 0px;
}

.js_input__search {
  padding: 0 50px 0 20px;
  height: 40px;
  border: 1px solid #e3e3e3;
  width: 100%;
  height: 38px;
  line-height: 18px;
  color: #222;
  width: 229px;
  position: absolute;
}

.js_btn__search {
  position: relative;
  height: 40px;
  width: 50px;
  left: 251px;
  background: transparent;
  border: none;
}

.pe_none i {
  font-weight: 600;
  font-size: 15px;
}

.search_header__prs {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
  box-shadow: 0 3px 10px 0 rgba(129, 129, 129, 0.2);
}

.h_suggest {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

.mini_cart__contant {
  position: relative;
  flex: 1 1 auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.product_list__widget {
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  overflow-x: hidden;
}

.mb__10 {
  width: 327px;
  height: 120px;
  margin: 0 -15px 10px;
}

.pb__10 {
  padding-bottom: 10px;
}

.col {
  padding-left: 15px;
}

.widget_if__pr {
  padding: 0 15px 0 10px;
  color: #878787;
  width: 207px;
}

.db {
  text-decoration: none;
  color: #222;
  font-size: 16px;
}

.cta a {
  text-decoration: none;
  color: #222;
}

.detail_link {
  border-radius: 0 !important;
  width: inherit;
  height: 36px;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(129, 129, 129, 0.2);
  font-size: 14px;
  background-color: white;
  color: black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  font-family: "Manrope", sans-serif;
}

.detail_link:hover .fa-arrow-right {
  transform: translateX(5px);
  transition: -webkit-transform 0.2s ease-in-out, transform 0.2s ease-in-out;
}
