* {
  margin: 0;
  padding: 0;
}

/* header */
header {
  height: 93px;
  width: 100%;
  background-color: red;
}

.nav-container {
  height: 100%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-logo {
  height: 100%;
  width: 318px;
  /* background-color: blue; */
  margin-left: 10px;
}

.nav-logo img {
  height: 83px;
  width: 100px;
  margin: 5px 0 5px;
}
