@media screen and (max-width: 412px) {
  /* navbar */
  .navbar {
    height: 45px !important;
  }
  .nav-logo {
    height: 28px !important;
    width: 45px !important;
    margin-left: -14px;
  }
  .logo {
    background-size: cover !important;
    height: 28px !important;
    width: 45px !important;
  }
  .add-first {
    font-size: 0.35rem !important;
    margin-left: 11px !important;
  }
  .add-second {
    font-size: 0.55rem !important;
  }
  .nav-address {
    margin-left: -3px;
    margin-top: -3px;
  }
  .add-icon i {
    font-weight: 900 !important;
    font-size: 10px !important;
  }
  .nav-search {
    display: flex !important;
    width: 35% !important;
    height: 15px !important;
    border-radius: 4px !important;
    justify-content: space-evenly !important;
    border: 2px solid transparent !important;
  }
  .search-select {
    background-color: #f3f3f3 !important;
    width: 28px !important;
    text-align: center !important;
    border-top-left-radius: 1px !important;
    border-bottom-left-radius: 1px !important;
    border: none !important;
    font-size: 8px;
    padding-left: 2px;
  }
  .search-input {
    width: 100% !important;
    font-size: 0.55rem !important;
    border: none !important;
  }
  .search-icon {
    font-size: 0.65rem !important;
    width: 25px !important;
    border-top-right-radius: 1px !important;
    border-bottom-right-radius: 1px !important;
  }
  span {
    font-size: 0.35rem !important;
  }
  .nav-second {
    font-size: 0.45rem !important;
  }
  .nav-signin {
    margin-top: -12px !important;
  }
  .nav-return {
    margin-top: -12px !important;
  }
  .nav-cart {
    font-size: 0.45rem !important;
  }
  .nav-cart i {
    font-size: 10px !important;
  }
  /* panel */
  .panel {
    height: 30px !important;
  }
  .panel-all {
    font-size: 9px;
    display: flex;
    position: static;
    float: none;
  }
  .panel-all i {
    margin: 1px 3px;
  }
  .panel-ops {
    font-size: 0.35rem !important;
  }
  .panel-ops p {
    margin-left: 10px !important;
  }
  .panel-deals {
    font-size: 0.45rem !important;
    font-weight: 700 !important;
    width: 100px !important;
  }
  /* herosection */
  .hero-section {
    height: 164px !important;
  }
  .hero-msg {
    height: 20px !important;
  }
  .hero-msg p {
    font-size: 0.35rem !important;
  }
  /* shop-section */

  .box {
    height: 100px !important;
    width: 24% !important;
  }
  h2 {
    font-size: 0.35rem !important;
  }
  .box-img {
    height: 64px !important;
  }
  .box-contant p {
    font-size: 0.45rem;
  }
  /* footer */
  .foot-panel1 {
    height: 20px !important;
    font-size: 0.45rem !important;
  }
  /* panel2 */
  .foot-panel2 {
    height: 205px !important;
  }
  .foot-panel2 ul {
    margin-top: 12px !important;
  }
  .foot-panel2 p {
    font-size: 0.5rem !important;
  }
  .foot-panel2 a {
    font-size: 0.35rem !important;
    margin-top: 5px !important;
  }
  /* foot-panel3 */
  .foot-panel3 {
    height: 35px !important;
  }
  /* foot-panel4 */
  .foot-panel4 {
    height: 390px;
  }
  .foot-panel4 p {
    font-size: 0.45rem !important;
  }
  .foot-panel4 a {
    font-size: 0.35rem !important;
  }
  .boxs1 {
    height: 0px !important;
    width: 57px !important;
  }
}
