.bg_color_peach{background-color: #ffe5b4 ; }
.bg_color_lemon{background-color: #fff36d ; }
.bg_color_cream{background-color: #fffdd0 ; }
.bg_color_grey{background-color: #808080 ; }
.bg_color_gray{background-color: #808080 ; }
.bg_color_camel{background-color: #bf9972 ; }
.bg_color_mint{background-color: #639083 ; }
.bg_color_silver{background-color: #c0c0c0 ; }
.bg_color_off-white{background-color: #ffffe4 ; }
.bg_color_mustard{background-color:#ffca02;}