@media screen and (max-width: 1720px) {
  .card-item {
    width: 8vw;
  }
}
@media screen and (max-width: 1100px) {
  .slider img {
    height: 15vh;
  }
  nav {
    flex-direction: column;
  }
  .logo {
    justify-content: center;
    margin: 12px 0;
  }
  nav ul {
    justify-content: center;
    height: 35px;
  }
  .search {
    justify-content: center;
  }
  .search input {
    margin: 12px 16px;
  }
  .card-item {
    height: 23vh;
    width: 20vw;
    margin: 0 48px;
  }
  .card-item img {
    height: 12vh;
    width: 20vw;
  }
  .cards {
    overflow: scroll;
    height: 51vh;
    margin: 30px 0 35px;
  }
  .my-2 {
    display: flex;
    justify-content: center;
    margin: 25px 0 35px;
  }
  .card2 {
    max-width: 91vw;
    margin: -25px auto 35px auto;
  }
  .cards2 {
    overflow: scroll;
    height: 51vh;
    margin: 30px 0 35px;
  }
  .cards3 {
    overflow: scroll;
    height: 51vh;
    margin: 30px 0 35px;
  }
  footer {
    height: 7vh;
  }
}
@media screen and (max-width: 400px) {
  .card-item img {
    height: 10vh;
    width: 18vw;
  }
  .lines {
    font-size: 12px;
  }
  .card-item {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    height: 25vh;
    width: 14vw;
    margin: -6px 48px;
  }
}
